:root{ 
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    /* Primary colors */
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Darkblue-photography-text: hsl(198, 62%, 26%);
    --Dark-moderate-cyan-footer: hsl(168, 34%, 41%);
}

h1 {
    color: blue;
}
/* .test { 
    height: 300px;
    width: 400px;
    border: 2px solid goldenrod;
    background: url("./images/desktop/image-header.jpg") no-repeat ;
    object-fit: fill;
    background-position: center;
    background-size:  100% 100%;
    
    
} */

/* Color Variables */

  
@media screen and (min-width: 600px) {      
     body{         
         align-items: center;
         justify-content: space-around; 
         /* margin-top: 5px; */     
               
     }
     /* *,
    ::after,
    ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } */
     .wrapper{
        max-width: 95vw;
        height: 95vh;
        background-color: rgb(248, 241, 245);
        /* margin-left: 20px; */
        /* margin-top: 2rem;     */
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        overflow: hidden;
        
        /* margin-left: 45px; */
        /* margin-right: 120px; */
     }
     .container1 {
         height: 93%;
         width: 70%;        
         background-color: khaki;         
         margin-top: 3.4rem;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-auto-rows: max-content;
         
        }
       
        .container1 div {
            /* border: none; */
            border-collapse: collapse;
     }

     /* container divs */
     .container1 div {
         /* border: 2px solid skyblue; */
         /* height: 30%; */
     }
    #box1 {
        height: 244px;
        grid-column: 1 / 3;
        grid-row: 1;
        background: url('./images/desktop/image-header.jpg') no-repeat;
        background-position: center;
        background-size: 100% ;        
        object-fit: contain;       
    }
    #box2 {
        margin-top: 0px;
        width: 235.5px;
        height: 162px;
        /* border: 2px solid darkcyan; */
        background-color: rgb(255, 255, 255);
        /* background: url('./images/desktop/image-header.jpg') no-repeat; */
        background-position: center;
        background-size: 100% 100%;        
        object-fit: contain;
    }
    #box3 {
        margin-top: 0px;
        width: 236px;
        height: 160px;
        
        box-sizing: border-box;
        background: url('./images/desktop/image-transform.jpg') no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
    #box4 {
        margin-top: 0px;
        width: 235.5px;
        height: 160px;
        /* border: 2px solid rgb(174, 195, 178); */
        background-color: rgb(34, 158, 127);
        background: url('./images/desktop/image-stand-out.jpg') no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }
    #box5 {
        margin-top: 0px;
        width: 236px;
        height: 160px;
        /* border: 2px solid darkcyan; */
        background-color: rgb(255, 255, 255);
        /* background: url('./images/desktop/') no-repeat; */
    }

    .container2 {           
        height: 98%;
        width: 70%;        
        background-color: var(--Dark-moderate-cyan-footer);         
        margin-top: -2.2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: max-content;
    }
    .container2 div {
        border: 2px solid green;
    }

   .container2 #box6 {
        height: 155px;
        /* grid-column: 1 / 3; */
        grid-row: 1;
        background: url('./images/desktop/image-graphic-design.jpg') no-repeat;
        background-position: center;
        background-size: 100% ;        
        object-fit: contain;       
    }
    #box7 {
        height: 155px;
        /* grid-column: 1 / 3; */
        grid-row: 1;
        background: url('./images/desktop/image-photography.jpg') no-repeat;
        background-position: center;
        background-size: 100% ;        
        object-fit: contain;  
    }
    #box8 {
        margin-top: 0px;
        /* width: 236px; */
        height: 225px;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
       
    }
    #box9 {
        display: flex;
        align-items: center;
        margin-top: 0px;
        /* width: 236px; */
        height: 170px;
        grid-column: 1 / 3;
        grid-row: 3;
        box-sizing: border-box;
        background-image: url("./images/desktop/image-gallery-orange.jpg"), url("./images/desktop/image-gallery-cone.jpg") ;
        background-repeat: no-repeat, no-repeat;
        /* background-position: right 50vw bottom 50vh,left 50vw top 50vh; */
        /* background-position: center;  */
        background-size: 30%, 30% ;
       
    }
}   
       
 